<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>front/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DrawTraceServlet</servlet-name>
    <servlet-class>com.APES.UI.DrawTraceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.APES.UI.initServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MYCalculateSimilarityServlet</servlet-name>
    <servlet-class>com.APES.UI.MYCalculateSimilarityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryTraceServlet</servlet-name>
    <servlet-class>com.APES.UI.QueryTraceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fileuploadServlet</servlet-name>
    <servlet-class>com.APES.UI.fileuploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalculateSimilarityServlet</servlet-name>
    <servlet-class>com.APES.UI.CalculateSimilarityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MYQueryTraceServlet</servlet-name>
    <servlet-class>com.APES.UI.MYQueryTraceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>initMyDraw</servlet-name>
    <servlet-class>com.APES.UI.initMyDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateSimilarityServlet</servlet-name>
    <url-pattern>/CalculateSimilarityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initMyDraw</servlet-name>
    <url-pattern>/initMyDraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MYQueryTraceServlet</servlet-name>
    <url-pattern>/MYQueryTraceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MYCalculateSimilarityServlet</servlet-name>
    <url-pattern>/MYCalculateSimilarityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryTraceServlet</servlet-name>
    <url-pattern>/QueryTraceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileuploadServlet</servlet-name>
    <url-pattern>/fileuploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrawTraceServlet</servlet-name>
    <url-pattern>/DrawTraceServlet</url-pattern>
  </servlet-mapping>
</web-app>